@model AtlasTracker.Models.Ticket

@{
    ViewData["Title"] = "Archive";
}

<div class="right-wrapper text-end">
</div>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div> <h1 class="card-title">Archive Ticket</h1>
                <h3>Are you sure you want to archive "@Model.Title" ?</h3>
            </header>
            <div class="card-body">
                <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">
                    <dl class="row">
                        <dt class="col-sm-2">
                            Ticket Title
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                           Ticket Description
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            Date Created
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt class="col-sm-2">
                            Status
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Status!.Name)
                        </dd>
                        <dt class="col-sm-2">
                            Project
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Project!.Description)
                        </dd>
                        <dt class="col-sm-2">
                            Ticket Priority
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TicketPriority!.Name)
                        </dd>
                        <dt class="col-sm-2">
                           Ticket Type
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TicketType!.Name)
                        </dd>
                        <dt class="col-sm-2">
                            Owner
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OwnerUser!.FullName)
                        </dd>
                        <dt class="col-sm-2">
                            Developer
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.DeveloperUserId != null)
                            {
                                @Html.DisplayFor(model => model.DeveloperUser!.FullName)
                            }
                            else
                            {
                                <p><strong>Unassigned</strong></p>                       
                            }
                        </dd>
                    </dl>
                </table>
                <form asp-action="Archive">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Archive" class="btn btn-danger" />  |
                    <a asp-action="AllTickets">Back to List</a>
                </form>
            </div>
        </section>
    </div>
</div>