@model IEnumerable<AtlasTracker.Models.Ticket>

@{
    ViewData["Title"] = "MyTickets";
}

<div class="right-wrapper text-end">
</div>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div> <h1 class="card-title">My Tickets</h1>
                 <a class="btn btn-xs alert-primary mt-3" style="font:small"  asp-action="Create" >Create New Ticket</a>
            </header>
            <div class="card-body">
                <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">

                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                            <th>Archived?</th>
                            <th>Archived By Project?</th>
                            <th>Status</th>
                            <th>Project</th>
                            <th>Priority</th>
                            <th>Type</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ArchivedByProject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatusId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project!.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType!.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerUser!.FullName)
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>