@model IEnumerable<AtlasTracker.Models.Ticket>

@using AtlasTracker.Models.Enums


@{
    ViewData["Title"] = "Unassigned Tickets";
}


<div class="right-wrapper text-end">
</div>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div> <h1 class="card-title">Unassigned Tickets</h1>
                <p>
                    <a class="btn btn-xs btn-info mt-2" asp-action="Create">Create New Ticket</a>
                </p>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">
                        <thead>
                            <tr>
                                <th>Title </th>
                                <th>Description </th>
                                <th>Project </th>
                                <th>Date Created </th>
                                <th>Status </th>
                                <th>Priority </th>

                                <th>Owner </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var ticket in Model.OrderByDescending(d => d.CreatedDate))
                            {
                                @if (ticket.Archived == false)
                                {
                                    <tr>
                                        <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><strong>@ticket.Title</strong></a> </td>
                                        <td>@ticket.Description</td>
                                        <td>@ticket.Project!.Name</td>
                                        <td>@ticket.CreatedDate.ToString("MM-dd-yyyy")</td>

                                        @if (ticket.Status!.Name == "New")
                                        {
                                            <td><span class="text-warning">@ticket.Status.Name </span></td>
                                        }
                                        else
                                        {
                                            <td><span class="text-success">@ticket.Status.Name </span></td>
                                        }


                                        @if (ticket.TicketPriority!.Name == "Urgent")
                                        {
                                            <td><span class="text-danger">@ticket.TicketPriority!.Name </span></td>
                                        }
                                        
                                        else
                                        {
                                        <td><span class="text-info">@ticket.TicketPriority!.Name </span></td>

                                        }

                                        <td>
                                            @if (User.IsInRole(nameof(BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager)))
                                            {
                                                <a asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-Id="@ticket.Id">Assign Dev</a>
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
