@model IEnumerable<AtlasTracker.Models.Ticket>

@using AtlasTracker.Models.Enums 
@{
    ViewData["Title"] = "Unassigned Tickets";
}


<div class="right-wrapper text-end">
</div>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div> <h2 class="card-title">Unassigned Tickets</h2>
                <p>
                    <a asp-action="Create">Create New Ticket</a>
                </p>
            </header>
            <div class="card-body">
                <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ArchivedByProject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketPriority)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OwnerUser)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        dy>
                            @foreach (var ticket in Model.OrderByDescending(d => d.CreatedDate))
                            {
                                <tr>
                                    <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                    <td>
                                        @if (ticket.DeveloperUserId != null)
                                        {
                                        @ticket.DeveloperUser?.FullName
                                    }
                                    else
                                    {
                                        if (User.IsInRole(nameof(AtlasTracker.Models.Enums.BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager)))
                                        {
                                                <a class="btn btn-xs btn-info" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-ticketId="@ticket.Id">Assign Dev</a>
                                            }
                                        }
                                    </td>
                                    @if (ticket.Status.Name == "New")
                                    {
                                        <td><span class="badge-success">@ticket.Status.Name </span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge-primary">@ticket.Status.Name </span></td>
                                    }
                                    <td><span class="badge">@ticket.TicketPriority!.Name </span></td>
                                    <td>@ticket.CreatedDate.ToString("MM-dd-yyyy")</td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-justify"></i></a>
                                        
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
