@model IEnumerable<AtlasTracker.Models.Project>
@using Microsoft.AspNetCore.Identity
@using AtlasTracker.Models.Enums

@inject UserManager<BTUser> UserManager;
@{
    ViewData["Title"] = "All Projects";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<div class="right-wrapper text-end">
</div>
<div class="row">
    <div class="col-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div> <h1 class="card-title">All Projects</h1>
                @if (User.IsInRole(nameof(BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager)))
                {
                    <a class="btn btn-xs alert-primary mt-3" style="font:small" asp-action="Create">Create New Project</a>
                }
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Date Created</th>
                                <th>Start Date</th>
                                <th>Deadline</th>
                                <th>Image</th>
                                <th>Archived?</th>
                                <th>Priority</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.CreatedDate.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @item.StartDate.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @item.EndDate.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @if (item.ImageFileData != null)
                                        {
                                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))">
                                        }
                                        else
                                        {
                                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="/img/default_icon.png">
                                        }


                                    </td>
                                    <td>
                                        @item.Archived
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectPriority!.Name)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                                        @if (User.IsInRole(nameof(BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager)))
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            @if (item.Archived == false)
                                            {
                                                <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>

                                            }
                                            else
                                            {
                                                <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                                                
                                            }

                                  
                                        <a asp-action="AssignMembers" asp-route-Id="@item.Id">Manage Team</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>



