@model AtlasTracker.Models.Project

@{
    ViewData["Title"] = "Archive";
}

<div class="right-wrapper text-end">
</div>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div> <h2 class="card-title">Archive Project</h2>
                <h3>Are you sure you want to archive this?</h3>
            </header>
            <div class="card-body">
                <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImageFileName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImageFileName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImageFileData)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImageFileData)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImageContentType)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImageContentType)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Archived)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Archived)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Company)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Company.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProjectPriority)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProjectPriority.Name)
                        </dd>
                    </dl>
                </table>
                <form asp-action="Archive">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Archive" class="btn btn-danger" /> |
                    <a asp-action="AllProjects">Back to List</a>
                </form>
            </div>
    </div>
    </section>
</div>
</div>

