@model AtlasTracker.Models.ViewModels.DashboardViewModel
@using Microsoft.AspNetCore.Identity
@using AtlasTracker.Services.Interfaces
@using AtlasTracker.Models.Enums
@inject UserManager<BTUser> UserManager

@inject IBTProjectService ProjectService


@{
    Layout = "_newLayout";
    BTUser btUser = await UserManager.GetUserAsync(User);
}
<header class="page-header">
    <h2>Dashboard</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li> <a asp asp-controller="Home" asp-action="Landing"><span>Landing</span></a></li>

            <li><span>Dashboard</span></li>

        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>

<!-- start: page -->
<div class="row">
    <div class="col-lg-6 mb-3">
        <section class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="chart-data-selector" id="salesSelectorWrapper">


                            <div id="salesSelectorItems" class="chart-data-selector-items mt-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card-body">
                                            <h5>Tickets by Status</h5>
                                            <p></p>
                                            <!-- ChartJS: Pie/Doughnut -->
                                            <div class="col-md-12">
                                                <!-- Chart.js Canvas Tag -->
                                                <canvas id="donutChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card-body">
                                            <h5>Tickets by Priority</h5>
                                            <p></p>
                                            <!-- ChartJS: Pie/Doughnut -->
                                            <div class="col-md-12">
                                                <!-- Chart.js Canvas Tag -->
                                                <canvas id="pieChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <div class="row mb-3">
            <div class="col-xl-6">
                <section class="card card-featured-left card-featured-primary mb-3">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fas fa-life-ring"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">All Projects</h4>
                                    <div class="info">
                                        <strong class="amount">@Model.Projects.Count</strong>
                                        <span class="text-primary">(14 unread)</span>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase" href="#">(view all)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-xl-6">
                <section class="card card-featured-left card-featured-secondary">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-secondary">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Total Profit</h4>
                                    <div class="info">
                                        <strong class="amount">$ 14,890.30</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase" href="#">(withdraw)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <section class="card card-featured-left card-featured-tertiary mb-3">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-tertiary">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Today's Orders</h4>
                                    <div class="info">
                                        <strong class="amount">38</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase" href="#">(statement)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-xl-6">
                <section class="card card-featured-left card-featured-quaternary">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-quaternary">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Today's Visitors</h4>
                                    <div class="info">
                                        <strong class="amount">3765</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase" href="#">(report)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="row pt-4 mt-2">
    <div class="col-lg-6 col-xl-3">
        <section class="card card-transparent">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title">My Profile</h2>
            </header>
            <div class="card-body">
                <section class="card card-group">
                    <header class="card-header bg-primary w-100">

                        <div class="widget-profile-info">
                            <div class="profile-picture">
                                <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px; height:80px" src="https://cdn.icon-icons.com/icons2/2331/PNG/512/task_software_platform_management_project_icon_142266.png"/>
                            </div>
                            <div class="profile-info">
                                <h4 class="name font-weight-semibold">@btUser.FullName</h4>
                                <h5 class="role">@((await UserManager.GetRolesAsync(btUser)).FirstOrDefault())</h5>
                                <div class="profile-footer">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Profile</a>
                                </div>
                            </div>
                        </div>

                    </header>
                    <div id="accordion" class="w-100">
                        <div class="card card-accordion card-accordion-first">
                            <div class="card-header border-bottom-0">
                                <h4 class="card-title">
                                    <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion" data-bs-target="#collapse1One">
                                        <i class="fas fa-check me-1"></i> Tasks
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1One" class="accordion-body collapse show">
                                <div class="card-body">
                                    <ul class="widget-todo-list">
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" checked="" id="todoListItem1" class="todo-check">
                                                <label class="todo-label" for="todoListItem1"><span>Curabitur ac sem at nibh egestas urabitur ac sem at nibh egestas.</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem2" class="todo-check">
                                                <label class="todo-label" for="todoListItem2"><span>Lorem ipsum dolor sit amet</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem3" class="todo-check">
                                                <label class="todo-label" for="todoListItem3"><span>Curabitur ac sem at nibh egestas</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem4" class="todo-check">
                                                <label class="todo-label" for="todoListItem4"><span>Lorem ipsum dolor sit amet</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem5" class="todo-check">
                                                <label class="todo-label" for="todoListItem5"><span>Curabitur ac sem at nibh egestas.</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem6" class="todo-check">
                                                <label class="todo-label" for="todoListItem6"><span>Lorem ipsum dolor sit amet</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem7" class="todo-check">
                                                <label class="todo-label" for="todoListItem7"><span>Curabitur ac sem at nibh egestas.</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr class="solid mt-3 mb-3">
                                    <form method="get" class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control">
                                                    <button type="button" class="btn btn-primary" tabindex="-1">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card card-accordion">
                            <div class="card-header border-bottom-0">
                                <h4 class="card-title">
                                    <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion" data-bs-target="#collapse1Two">
                                        <i class="fas fa-comment me-1"></i> Messages
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1Two" class="accordion-body collapse">
                                <div class="card-body">
                                    <ul class="simple-user-list mb-3">
                                        <li>
                                            <figure class="image rounded">
                                                <img src="img/!sample-user.jpg" alt="Joseph Doe Junior" class="rounded-circle">
                                            </figure>
                                            <span class="title">Joseph Doe Junior</span>
                                            <span class="message">Lorem ipsum dolor sit.</span>
                                        </li>
                                        <li>
                                            <figure class="image rounded">
                                                <img src="img/!sample-user.jpg" alt="Joseph Junior" class="rounded-circle">
                                            </figure>
                                            <span class="title">Joseph Junior</span>
                                            <span class="message">Lorem ipsum dolor sit.</span>
                                        </li>
                                        <li>
                                            <figure class="image rounded">
                                                <img src="img/!sample-user.jpg" alt="Joe Junior" class="rounded-circle">
                                            </figure>
                                            <span class="title">Joe Junior</span>
                                            <span class="message">Lorem ipsum dolor sit.</span>
                                        </li>
                                        <li>
                                            <figure class="image rounded">
                                                <img src="img/!sample-user.jpg" alt="Joseph Doe Junior" class="rounded-circle">
                                            </figure>
                                            <span class="title">Joseph Doe Junior</span>
                                            <span class="message">Lorem ipsum dolor sit.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </section>
    </div>
    <div class="col-lg-6 col-xl-3">
        @*<section class="card card-transparent">
            <header class="card-header">
            <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>

            <h2 class="card-title">My Stats</h2>
            </header>
            <div class="card-body">
            <section class="card">
            <div class="card-body">
            <div class="small-chart float-end" id="sparklineBarDash"></div>
            <script type="text/javascript">
            var sparklineBarDashData = [5, 6, 7, 2, 0, 4 , 2, 4, 2, 0, 4 , 2, 4, 2, 0, 4];
            </script>
            <div class="h4 font-weight-bold mb-0">488</div>
            <p class="text-3 text-muted mb-0">Average Profile Visits</p>
            </div>
            </section>
            <section class="card">
            <div class="card-body">
            <div class="circular-bar circular-bar-xs m-0 mt-1 me-4 mb-0 float-end">
            <div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
            <strong>Average</strong>
            <label><span class="percent">45</span>%</label>
            </div>
            </div>
            <div class="h4 font-weight-bold mb-0">12</div>
            <p class="text-3 text-muted mb-0">Working Projects</p>
            </div>
            </section>
            <section class="card">
            <div class="card-body">
            <div class="small-chart float-end" id="sparklineLineDash"></div>
            <script type="text/javascript">
            var sparklineLineDashData = [15, 16, 17, 19, 10, 15, 13, 12, 12, 14, 16, 17];
            </script>
            <div class="h4 font-weight-bold mb-0">89</div>
            <p class="text-3 text-muted mb-0">Pending Tasks</p>
            </div>
            </section>
            </div>
                </section>*@
        <section class="card mb-3">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title">
                    <span class="badge badge-primary font-weight-normal va-middle p-2 me-e">@Model.Members.Count()</span>
                    <span class="va-middle">Project Members</span>
                </h2>
            </header>
            <div class="card-body">
                <div class="content">
                    <ul class="simple-user-list">
                         @foreach  (BTUser member in Model.Members!)
                        {
                                <li>
                                        <span class="">@member.FullName</span>
                                        <span class="" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</span>
                                </li>
                        }
                    </ul>
                    <hr class="dotted short">
                    <div class="text-end">
                        <a class="text-uppercase text-muted" href="#">(View All)</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="input-group">
                    <input type="text" class="form-control" name="s" id="s" placeholder="Search...">
                    <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                </div>
            </div>
        </section>
    </div>
    @*<div class="col-lg-12 col-xl-6">
        <section class="card">
        <header class="card-header card-header-transparent">
        <div class="card-actions">
        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
        </div>

        <h2 class="card-title">Company Activity</h2>
        </header>
        <div class="card-body">
        <div class="timeline timeline-simple mt-3 mb-3">
        <div class="tm-body">
        <div class="tm-title">
        <h5 class="m-0 pt-2 pb-2 text-dark font-weight-semibold text-uppercase">@DateTime.Now;</h5>
        </div>
        <ol class="tm-items">
        <li>
        <div class="tm-box">
        <p class="text-muted mb-0">7 months ago.</p>
        <p>

        </p>
        </div>
        </li>
        <li>
        <div class="tm-box">
        <p class="text-muted mb-0">7 months ago.</p>
        <p>
        Checkout! How cool is that! Etiam efficitur, sapien eget vehicula gravida, magna neque volutpat risus, vitae tempus odio arcu ac elit. Aenean porta orci eu mi fermentum varius. Curabitur ac sem at nibh egestas. Curabitur ac sem at nibh egestas.
        </p>
        <div class="thumbnail-gallery">
        <a class="img-thumbnail lightbox" href="img/projects/project-4.jpg" data-plugin-options='{ "type":"image" }'>
        <img class="img-fluid" width="215" src="img/projects/project-4.jpg">
        <span class="zoom">
        <i class="bx bx-search"></i>
        </span>
        </a>
        </div>
        </div>
        </li>
        </ol>
        </div>
        </div>
        </div>
        </section>
            </div>*@

        <div class="col-lg-12 ">
                <section class="card">
                        <header class="card-header card-header-transparent">
                                <div class="card-actions">
                                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                                </div> <h2 class="card-title">Ticket Activity</h2>
                        </header>
                        <div class="card-body">
                                <div class="timeline timeline-simple mt-3 mb-3">
                                        <div class="tm-body">
                                                <div class="tm-title">
                                                        <h5 class="m-0 pt-2 pb-2 text-dark font-weight-semibold text-uppercase">@DateTime.Now;</h5>
                                                </div>
                                                <ol class="tm-items">
                                                        <li>
                                                                <div class="tm-box">
                                                                        <p class="text-muted mb-0"></p>
                                                                        <p>
                                                                                <div class="card-body">
                                                                                        <table class="table table-hover">
                                                                                                <thead>
                                                                                                <th>Title</th>
                                                                                                <th>Status</th>
                                                                                                <th>Priority</th>
                                                                                                <th>Date</th>
                                                                                                </thead>
                                                                                                @foreach (Ticket ticket in Model.Tickets!.OrderByDescending(d => d.CreatedDate).Take(10))
                                                                                                {
                                                                                                        @if (!(ticket.Archived || ticket.ArchivedByProject)
                                                                                                      && ticket.DeveloperUserId == btUser.Id
                                                                                                      || (User.IsInRole(nameof(BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager))))
                                                                                                        {
                                                                                                                <tr>
                                                                                                                        <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">@ticket.Title</a></td>
                                                                                                                        <td>@ticket.Status!.Name</td>
                                                                                                                        <td>@ticket.TicketPriority!.Name</td>
                                                                                                                        <td>@ticket.CreatedDate.DateTime.ToString("MM/dd/yyyy")</td>
                                                                                                                </tr>
                                                                                                        }
                                                                                                }
                                                                                        </table>
                              
                                                 </div>
                                                                        </p>
                                                                </div>
                                                        </li>
                                                </ol>
                                        </div>
                                </div>
                        </div>
                </section>
        </div>

</div>
<div class="row pt-4 mt-1">

    <div class="col-lg-12">
        <section class="card">
            <header class="card-header card-header-transparent">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title">Projects Stats</h2>
            </header>
            <div class="card-body">
                <table class="table table-responsive-md table-striped mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Project</th>
                            <th>Status</th>
                            <th>Progress</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Porto - Responsive HTML5 Template</td>
                            <td><span class="badge badge-success">Success</span></td>
                            <td>
                                <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        100%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Porto - Responsive Drupal 7 Theme</td>
                            <td><span class="badge badge-success">Success</span></td>
                            <td>
                                <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        100%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Tucson - Responsive HTML5 Template</td>
                            <td><span class="badge badge-warning">Warning</span></td>
                            <td>
                                <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        60%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Tucson - Responsive Business WordPress Theme</td>
                            <td><span class="badge badge-success">Success</span></td>
                            <td>
                                <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        90%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Porto - Responsive Admin HTML5 Template</td>
                            <td><span class="badge badge-warning">Warning</span></td>
                            <td>
                                <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                        45%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Porto - Responsive HTML5 Template</td>
                            <td><span class="badge badge-danger">Danger</span></td>
                            <td>
                                <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                        40%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Porto - Responsive Drupal 7 Theme</td>
                            <td><span class="badge badge-success">Success</span></td>
                            <td>
                                <div class="progress progress-sm progress-half-rounded mt-1 light">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                        95%
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
@section scripts{
<!-- *** Begin Chart JS Pie/Donut *** -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<script>

    var donutChartCanvas = $('#donutChart').get(0).getContext('2d');
    var donutData = {
        labels: [
            '@nameof(BTTicketStatus.Development)',
            '@nameof(BTTicketStatus.New)',
            '@nameof(BTTicketStatus.Resolved)',
            '@nameof(BTTicketStatus.Testing)'
        ],
        datasets: [
            {
                data: [
                    @Model.Tickets.Where(t=> t.Status.Name == nameof(BTTicketStatus.Development)).Count(),
                    @Model.Tickets.Where(t=> t.Status.Name ==nameof(BTTicketStatus.New)).Count(),
                    @Model.Tickets.Where(t=> t.Status.Name ==nameof(BTTicketStatus.Resolved)).Count(),
                    @Model.Tickets.Where(t=> t.Status.Name ==nameof(BTTicketStatus.Testing)).Count()
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ]
            }
        ]
    };

    var donutOptions = {
        maintainAspectRatio: false,
        responsive: true,
    };
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: donutData,
        options: donutOptions
    });
</script>
<!-- *** End Chart JS Donut *** -->
<!-- *** Begin Chart JS Pie *** -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<script>

    var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
    var pieData = {
        labels: [
            '@nameof(BTTicketPriority.Low)',
            '@nameof(BTTicketPriority.Medium)',
            '@nameof(BTTicketPriority.High)',
            '@nameof(BTTicketPriority.Urgent)'
        ],
        datasets: [
            {
                data: [
                    @Model.Tickets.Where(t=> t.TicketPriority.Name == nameof(BTTicketPriority.Low)).Count(),
                    @Model.Tickets.Where(t=> t.TicketPriority.Name ==nameof(BTTicketPriority.Medium)).Count(),
                    @Model.Tickets.Where(t=> t.TicketPriority.Name ==nameof(BTTicketPriority.High)).Count(),
                    @Model.Tickets.Where(t=> t.TicketPriority.Name ==nameof(BTTicketPriority.Urgent)).Count()
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ]
            }
        ]
    };

    var pieOptions = {
        maintainAspectRatio: false,
        responsive: true,
    };
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
    });
</script>
<!-- *** End Chart JS Donut *** -->






<script>
    var message = '@(ViewBag.SwalMessage)';
    if(!message.includes("error")&& message != '')
    {
        Swal.fire({
            icon: 'success',
            title: message,
            showConfirmButton: true
        })
    }else if(message.includes("error")){
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: message
        })
    }
</script>
}